* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
}

::selection {
    background-color: #222;
    color: #ddd;
}

::-moz-selection {
    background-color: #222;
    color: #ddd;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition-duration: 1s;
}

.display-1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 50px;
}

#quote-box {
    padding: 40px 20px;
    max-width: 500px;
    box-shadow: 0 0 10px 0 #fff8;
    border-radius: 5px;
    transition: box-shadow 1s;
}

#text {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

#author {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    text-align: right;
}

.user-select-none {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.quote-sign {
    font-size: 100px;
    letter-spacing: -6px;
    font-weight: 600;
    position: absolute;
    top: -50px;
    margin-right: 10px;
    font-family: sans-serif;
    left: -15px;
    opacity: 0.25;
}

.action {
    margin: 10px 0 -20px;
    display: flex;
    justify-content: space-between;
}

#tweet-quote,
#new-quote {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
    transition-duration: 1s;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

#tweet-quote {
    text-decoration: none;
}

.twitter-icon-wrapper {
    position: relative;
    top: 3px;
    margin-left: 5px;
}

.twitter-icon {
    height: 16px;
    width: 16px;
    transition: fill 1s;
}

.fixed-top {
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
