/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

#navbar {
    position: fixed;
    width: 230px;
    height: calc(100vh - 84px);
    overflow-y: scroll;
    box-shadow: 0 0 40px #8888;
    padding: 20px;
    box-sizing: border-box;
}

.nav-item {
    padding: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-item:not(:last-child) {
    border-bottom: 1px solid black;
}

.nav-link {
    color: #212121;
    text-decoration: none;
}

#main-doc {
    position: absolute;
    left: 250px;
}

.text-center {
    text-align: center;
}

.step {
    overflow: hidden;
}

.code-wrapper {
    background: #ddd;
    overflow: hidden;
    overflow-x: scroll;
    width: calc(100vw - 300px);
}

code pre {
    width: fit-content;
    margin: 0;
    padding: 10px;
    margin-left: -270px;
    margin-bottom: -15px;
}

.main-section {
    padding: 10px;
}

.section-header {
    font-size: 25px;
    font-weight: 600;
}

figure img {
    width: 100%;
    max-width: 400px;
}

@media only screen and (max-width: 800px) {
    #navbar {
        position: relative;
        width: 100%;
        height: 200px;
    }

    #navbar header h2 {
        margin-top: 0;
    }

    #main-doc {
        width: 100%;
        position: relative;
        left: 0;
    }

    .code-wrapper {
        width: 100%;
    }
}
